# Getting Started with pandas

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## 5.1 Introduction to pandas Data Structures

### Series

In [4]:
obj = pd.Series([4, 7, -5, 3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  3])

In [7]:
obj.index # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [10]:
obj2['a']

-5

In [11]:
obj2[2]

-5

In [12]:
obj2['d'] = 6
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [13]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [14]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [15]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [16]:
'b' in obj2

True

In [17]:
'e' in obj2

False

In [18]:
# 通过字典创建Series
sdata = sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [19]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [20]:
# pandas的isnull和notnull函数可用于检测缺失数据
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [21]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [22]:
# Series也有类似的实例方法
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [23]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [25]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [26]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [27]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [29]:
# 删除索引’b','d'
obj = obj.drop(labels=['b', 'd'])

KeyError: "['b' 'd'] not found in axis"

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

### DataFrame

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

In [ ]:
frame.head() # 选取前5行

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])
frame2

In [ ]:
frame2.columns

In [ ]:
# 通过类似字典标记的方式或属性的方式，可以将DataFrame的列获取为一个Series
frame2['state']

In [ ]:
frame2.year

In [ ]:
# 行可以通过位置或名称的方式进行获取 比如loc
frame2.loc['three']

In [ ]:
frame2.debt = 16.5 # frame2['debt'] = 16.5

In [ ]:
frame2

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

In [ ]:
# 为不存在的列赋值会创建出一个新列。关键字del用于删除列
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
frame2.eastern

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
# 嵌套字典传给DataFrame，pandas就会被解释为：外层字典的键作为列，内层键则作为行索引
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
# 用类似NumPy数组的方法，对DataFrame进行转置
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003]) # 明确指定索引

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

#### DataFrame构造函数所能接受的各种数据
![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-106835b28c0cea5a.png)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'statte'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

#### 索引对象

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
# Index对象是不可变的,无法修改
index[1] = 'd' # TypeError

In [ ]:
labels = pd.Index(np.arange(3))
labels

In [ ]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
# 与python的集合不同，pandas的Index可以包含重复的标签
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

#### Index的方法和属性
![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-5499d14f0e2cd639.jpg)

## 5.2 Essential Functionality

#### Reindexing

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
# 用ffill可以实现前向值填充
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6), method='ffill')

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

#### reindex函数的各参数
![reindex函数的各参数](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-efa3dbd4b83c61ec.jpg)

#### 丢弃指定轴上的项

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis='columns')

In [ ]:
obj.drop('c', inplace=True) # 小心使用inplace，它会销毁所有被删除的数据

#### 索引、选取和过滤

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[[1, 3]]

In [ ]:
obj[obj < 2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c'] = 5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three', 'one']]

In [ ]:
data[:2]

In [ ]:
data[data['three'] > 5]

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0
data

#### 用loc和iloc进行选取

In [ ]:
data

In [ ]:
# 通过标签选择一行和多列
data.loc['Colorado', ['two', 'three']]

In [ ]:
# 用iloc和整数进行选取 第3行
data.iloc[2, [3, 0, 1]]

In [ ]:
data.iloc[2] # 选取Utah,第3行

In [ ]:
data.iloc[[1, 2],[3, 0, 1]]

In [ ]:
data.loc[:'Utah', 'two']

In [ ]:
data.iloc[:, :3][data.three > 5]

![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-64354f2ab777bd8c.png)

#### 整数索引

In [ ]:
ser = pd.Series(np.arange(3.))
ser

In [ ]:
# ser[-1] # 报错

In [ ]:
# 非整数索引不影响
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

> 为了进行统一，如果轴索引含有整数，数据选取总会使用标签。为了更准确，请使用loc（标签）或iloc（整数）

In [ ]:
ser[:1]

In [ ]:
ser.loc[:1]

In [ ]:
ser.iloc[:1]

#### 算术运算和数据对齐

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), 
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
df1

In [ ]:
df2

In [ ]:
# 如果DataFrame对象相加，没有共用的列或行标签，结果都会是空
df1 + df2

#### 在算术方法中填充值

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))

In [ ]:
df2

In [ ]:
df2.loc[1, 'b'] = np.nan
df2

In [ ]:
df1

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1.rdiv(1)

##### 以字母r开头，它会翻转参数。因此这两个语句是等价的：
![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-16857a1021f98d1f.png)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

#### DataFrame和Series之间的运算

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
# 当我们从arr减去arr[0]，每一行都会执行这个操作。这就叫做广播（broadcasting）
arr - arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]
frame

In [ ]:
series

In [ ]:
# 默认情况下，DataFrame和Series之间的算术运算会将Series的索引匹配到DataFrame的列，然后沿着行一直向下广播
frame - series

In [ ]:
# 如果某个索引值在DataFrame的列或Series的索引中找不到，则参与运算的两个对象就会被重新索引以形成并集
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame + series2

In [ ]:
series2

In [ ]:
# 如希望匹配行且在列上广播，则必须使用算术运算方法
series3 = frame['d']
frame

In [ ]:
series3

In [ ]:
frame.sub(series3, axis='index') # axis=0

#### 函数应用和映射

In [ ]:
# NumPy的ufuncs（元素级数组方法）也可用于操作pandas对象
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max() - x.min()
frame.apply(f)
# 函数f，计算了一个Series的最大值和最小值的差

In [ ]:
# 如果传递axis='columns'到apply，这个函数会在每行执行
frame.apply(f, axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

#### 排序和排名

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index() # 返回一个已排序的新对象

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'], columns=['d', 'a', 'b', 'c'])
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
# 按值对Series进行排序，可使用其sort_values方法
obj.sort_values()

In [ ]:
# 缺失值默认都会被放到Series的末尾
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

In [ ]:
# 根据一个或多个列中的值进行排序
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
# 根据多个列进行排序，传入名称的列表
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis='columns')

![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-7edfab5b4a147581.png)

#### 带有重复标签的轴索引

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
# 索引的is_unique属性可以告诉你它的值是否是唯一
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.loc['b']

## 5.3 汇总和计算描述统计

In [30]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [31]:
df.sum() # 对列求和返回Series

one    9.25
two   -5.80
dtype: float64

In [33]:
# 传入axis='columns'或axis=1将会按行进行求和
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [36]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-af35e3809278410e.jpg)

In [37]:
df.idxmax() # 返回最大值的索引

one    b
two    d
dtype: object

In [38]:
df.idxmin()

one    d
two    b
dtype: object

In [39]:
df.cumsum() # 累计型

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [40]:
# 一次性产生多个汇总统计
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [41]:
# 非数值型
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [42]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

![描述统计相关的方法](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-11fa967f658ac314.jpg)

#### 相关系数与协方差

In [44]:
import pandas_datareader.data as web

In [49]:
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

AttributeError: 'dict' object has no attribute 'head'

In [48]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})
price.head()

                 AAPL        IBM       MSFT        GOOG
Date
2009-12-31  26.272409  96.994438  24.072418  308.832428
2010-01-04  26.681330  98.142967  24.443624  312.204773
2010-01-05  26.727465  96.957375  24.451517  310.829926
2010-01-06  26.302330  96.327530  24.301458  302.994293
2010-01-07  26.253704  95.994110  24.048725  295.940735

In [51]:
# 计算价格的百分比变化
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-08-28  0.006710  0.012122 -0.001326  0.002723
2019-08-29  0.016932  0.015969  0.018885  0.018642
2019-08-30 -0.001292  0.004819 -0.001882 -0.003982
2019-09-03 -0.014564 -0.010551 -0.013202 -0.016589
2019-09-04  0.010938  0.012491  0.007718  0.006120

In [52]:
# Series的corr方法用于计算两个Series中重叠的、非NA的、按索引对齐的值的相关系数
returns['MSFT'].corr(returns['IBM'])

0.4923720010730799

In [53]:
# cov用于计算协方差
returns['MSFT'].cov(returns['IBM'])

8.804635710299614e-05

In [54]:
# 也可以简写为
returns.MSFT.corr(returns.IBM)

0.4923720010730799

In [55]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.386375  0.458113  0.463279
IBM   0.386375  1.000000  0.492372  0.406755
MSFT  0.458113  0.492372  1.000000  0.538948
GOOG  0.463279  0.406755  0.538948  1.000000

In [56]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000267  0.000078  0.000108  0.000118
IBM   0.000078  0.000153  0.000088  0.000078
MSFT  0.000108  0.000088  0.000209  0.000121
GOOG  0.000118  0.000078  0.000121  0.000242

In [57]:
# corrwith方法可以计算其列或行跟另一个Series或DataFrame之间的相关系数
returns.corrwith(volume)

AAPL   -0.062261
IBM    -0.152655
MSFT   -0.090525
GOOG   -0.018639
dtype: float64

In [59]:
# axis='columns'表示按行 计算百分比变化与成交量的相关系数
returns.corrwith(volume, axis='columns').tail()

Date
2019-08-28   -0.451701
2019-08-29    0.174858
2019-08-30   -0.250603
2019-09-03   -0.027844
2019-09-04    0.037829
dtype: float64

#### 唯一值、值计数以及成员资格

In [60]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [66]:
# 得到Series中的唯一值数组
uniques = obj.unique()
uniques # uniques.sort()可以对返回结果排序

array(['c', 'a', 'd', 'b'], dtype=object)

In [70]:
# value_counts用于计算一个Series中各值出现的频率
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [71]:
# value_counts还是一个顶级pandas方法，可用于任何数组或序列
pd.value_counts(obj.values, sort=False)

d    1
b    2
a    3
c    3
dtype: int64

In [72]:
# isin用于判断矢量化集合的成员资格，可用于过滤Series中或DataFrame列中数据的子集
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [74]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [75]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [76]:
# index.get_indexer方法，它可以给你一个索引数组，从可能包含重复值的数组到另一个不同值的数组
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

![](https://wizardforcel.gitbooks.io/pyda-2e/content/img/7178691-b53c4a9d65a2db32.png)

In [77]:
# 取得DataFrame中多个相关列的一张柱状图
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [79]:
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0